 .center {
     position: fixed;
     margin: auto;
     right: 5px;
     bottom: 0;
 }

 .menu {
     width: 40px;
     height: 40px;
 }

 .title {
     width: 300px;
     height: 10px;
     top: 60px;
 }

 .item {
     position: absolute;
     left: 0px;
     top: 0px;
     width: 40px;
     height: 40px;
     background-color: #9797da;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     cursor: pointer;
     text-align: center;
     line-height: 40px;
 }

 i {
     font-size: 24px;
     color: #222222;
 }