<!doctype html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="icon" type="image/png" href="__HOME__/favicon/favicon.png">
  <link rel="stylesheet" href="__HOME__/css/style.bundle.css">
  <title>
    首页
  </title>
</head>

<body>
  <div id="progress">
    <span></span>
  </div>
  <!-- 弹窗 -->
  <div class="alert_player" style="display:none;">
    <div class="bg"></div>
    <div class="layer">
      <div class="info"></div>
      <a class="queren_btn" data-ajax="no">确认</a>
    </div>
  </div>
