<!doctype html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="icon" type="image/png" href="__HOME__/favicon/favicon.png">
  <link rel="stylesheet" href="__HOME__/css/style.bundle.css">
  <title>
    会员注册
  </title>
</head>

<body>
  <div id="progress">
    <span></span>
  </div>
  <!-- 弹窗 -->
  <div class="alert_player" style="display:none;">
    <div class="bg"></div>
    <div class="layer">
      <div class="info"></div>
      <a class="queren_btn" data-ajax="no">确认</a>
    </div>
  </div>
  <!-- 弹窗 -->

  <main>
    <article class="invoice" data-main="member">
      <section class="main-container business index-inner">
        <style media="screen">
            html,body{ height: 100%;}
          </style>
        <div class="met_main">
          <dl>
            <dd>
              <label for="name">您的姓名</label>
              <input id="name" type="text" name="" value="" placeholder="请填写您的姓名">
            </dd>
            <dd>
              <label for="">您的性別</label>
              <div class="col-xs-5" style="padding:0; float:right">
                <div class="col-xs-6 radio-label">
                  <input id="sex1" type="radio" name="sex" value="1" checked>
                  <label for="sex1" style="float:right;"><span class="fa fa-square-o"></span>男</label>
                </div>
                <div class="col-xs-6 radio-label">
                  <input id="sex2" type="radio" name="sex" value="2">
                  <label for="sex2" style="float:right;"><span class="fa fa-square-o"></span>女</label>
                </div>
              </div>
            </dd>
            <dd>
              <label for="phone">您的手机</label>
              <input id="phone" type="text" name="" value="" placeholder="请填写您的手机">
            </dd>
            <dd><button type="submit" id="membersubmit" class="btn btn-primary">提交</button></dd>
          </dl>
        </div>
      </section>
    </article>
  </main>
  <script src="__HOME__/js/bundle.js"></script>

</body>

</html>
