<!--======= FOOTER =========-->
<footer>
  <div class="container">

    <!-- FOOTER -->
    <div class="footer-info">
      <div class="row">

        <!-- keep in touch -->
        <div class="col-md-4">
          <div class="padding-right-50">
            <h6>关于我们</h6>
            <p>是一家专业从事网站建设，在线推广宣传，微营销，大项目定制的电子商务公司。</p>
            <ul class="personal-info">
              <li><i class=" icon-map"></i>哈尔滨市南岗区文景街86号</li>
              <li><i class="icon-envelope"></i>hrbkcwl@163.com</li>
              <li><i class="lnr lnr-phone-handset"></i>13359982928</li>
            </ul>
          </div>
        </div>

        <!-- Links -->
        <div class="col-md-2">
          <h6>网站导航</h6>
          <ul class="links">
            <li><a href="index.html">网站首页</a></li>
            {volist name="category" id="vo"}
            <li>
              <a href="{:url('home/'.$vo['catdir'].'/index',['catId'=>$vo['id']] )}" title="{$vo.catname}">{$vo.catname}</a>
            </li>
            {/volist}
          </ul>
        </div>

        <!-- INSTAGRAM  -->
        <div class="col-md-3">
          <h6>最新活动</h6>
          <div class="flicker">
            <div class="single-slide">
              <div><a href="#."><img class="img-responsive" src="__HOME__/images/img-1.jpg" alt=""></a></div>
              <div><a href="#."><img class="img-responsive" src="__HOME__/images/img-2.jpg" alt=""></a></div>
              <div><a href="#."><img class="img-responsive" src="__HOME__/images/img-3.jpg" alt=""></a></div>
              <div><a href="#."><img class="img-responsive" src="__HOME__/images/img-4.jpg" alt=""></a></div>
              <div><a href="#."><img class="img-responsive" src="__HOME__/images/img-5.jpg" alt=""></a></div>
            </div>
          </div>
        </div>

        <!-- keep in touch -->
        <div class="col-md-3">
          <h6>资讯通讯</h6>
          <div class="news-letter">
            <p>把我们的最新资讯、产品、活动，第一时间与您分享:</p>
            <form class="subscribe">
              <input type="tel" placeholder="邮箱">
              <button type="submit"><i class="fa fa-envelope"></i></button>
            </form>

            <!-- Social Icons -->
            <div class="social_icons"><a href="#." target="_blank"><i class="fa fa-weibo"></i></a> <a href="tencent://message/?uin=2503072299&Site=&Menu-=yes" target="_blank"><i class="fa fa-qq"></i></a> <a href="/contact_16.html#content" target="_blank"><i
                                    class="fa fa-weixin"></i></a> <a href="#." target="_blank"><i
                                    class="fa fa-youtube-play"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--======= RIGHTS =========-->
<div class="rights">
  <div class="container">
    <p>版权所有 2017 哈尔滨酷创网络科技有限公司 黑ICP备17007278号</p>
    <div class="scroll"><a href="#wrap" class="go-up"><i class="lnr lnr-arrow-up"></i></a></div>
  </div>
</div>
</div>


<!-- JavaScripts -->

<script src="__HOME__/js/bootstrap.min.js"></script>
<script src="__HOME__/js/own-menu.js"></script>
<script src="__HOME__/js/jquery.lighter.js"></script>
<script src="__HOME__/js/jquery.colio.min.js"></script>
<script src="__HOME__/js/jquery.cubeportfolio.min.js"></script>
<script src="__HOME__/js/owl.carousel.min.js"></script>
<script src="__HOME__/js/color-switcher.js"></script>
<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="__HOME__/rs-plugin/rs-plugin/js/jquery.tp.t.min.js"></script>
<script type="text/javascript" src="__HOME__/rs-plugin/rs-plugin/js/jquery.tp.min.js"></script>
<script src="__HOME__/js/main.js"></script>
{clt:tongji module = '$module'/}

</body>

</html>
