<footer class="footer">
  <div class="footer-bar">
    <div class="container">
      YBL INTERNATIONAL BROADCAST HOTEL
    </div>
  </div>
  <div class="footer-main pc">
    <div class="container">
      <div class="footer-content h-center">
        <div class="left col-lg-5 h-center">
          <div class="erw  col-lg-4">
            <img src="__HOME__/img/a56acfc1681bce8160d5a8844ac4c684.png" alt="">
          </div>
          <div class="wechat col-lg-3 ">
            <span class="fa fa-wechat"></span>
          </div>
          <div class="tel col-lg-5">
            <p>在线预订或电话预订</p>
            <div class="num">
              {$sys.tel}
            </div>
          </div>
        </div>
        <div class="right col-lg-7">
          <div class="nav col-lg-4">
            <p>关于酒店</p>
            <a href="">酒店客房</a>
            <a href="">会议服务</a>
            <a href="">休闲娱乐</a>
          </div>
          <div class="address col-lg-8">
            <p>地址</p>
            <table>
              <tr>
                <td style="width:5em">酒店地址：</td>
                <td>{$sys.ads}</td>
              </tr>
            </table>
            <table>
              <tr>
                <td style="width:9em">哈尔滨办事处地址：</td>
                <td>{$sys.bscads}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="footer-logo">
        <img src="__HOME__/img/footer-logo.jpg" alt="">
      </div>
    </div>
  </div>
</footer>
<div class="fixed pc h-center">
  <div class="inner">
    <div class="lyd">预<br/>订
      <div class="tan">
        <p>电话预订</p>
        <p>0451-5398 9898</p>
      </div>
    </div>
    <div class="qrcode"><i class="fa fa-qrcode" aria-hidden="true"></i><img src="__HOME__/img/a56acfc1681bce8160d5a8844ac4c684.png" class="erw" alt=""></div>
  </div>
</div>
</div>
<script src="__HOME__/js/bundle.js"></script>
{clt:tongji module = '$module'/}
</body>

</html>
