{include file="common/header"/}
  <main>
    <article class="wechatpage" data-main="wechat">
      <section class="main-container business wechat-inner">
        <div class="container h-center">
          <div class="col-md-6 col-sm-12 col-xs-12 left">
            <img src="__HOME__/img/a56acfc1681bce8160d5a8844ac4c684.png" alt="">
            <p>打开微信扫一扫</p>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 right">
            <h1>万豪礼赏微信服务号</h1>
            <p>您可以通过我们的官方微信服务号预订客房或了解最新活动信息</p>
            <img src="__HOME__/img/wechat-bg.jpg" alt="">
          </div>
        </div>
      </section>
    </article>
  </main>
{include file="common/footer"/}
