<!doctype html>
<!-- <html><head><title></title></head><body></body></html> -->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="keywords" content="千万只红螃蟹迁徙覆盖整个海岛 街道如同铺红毯(视频),腾讯腾讯网,腾讯网" />
    <meta itemprop="name" content="千万只红螃蟹迁徙覆盖整个海岛 街道如同铺红毯(视频)_腾讯网" />
    <meta itemprop="image" content="//inews.gtimg.com/newsapp_ls/0/2135076903_640320/0" />
    <meta name="description" itemprop="description" content="千万只红螃蟹迁徙覆盖整个海岛 街道如同铺红毯(视频)" />
    <title>千万只红螃蟹迁徙覆盖整个海岛 街道如同铺红毯(视频)_腾讯网</title>
    <link rel="apple-touch-icon" href="//mat1.gtimg.com/www/mobi/image/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="//mat1.gtimg.com/www/mobi/image/touch-icon-iphone-retina.png" />
    <link rel="stylesheet" href="//mat1.gtimg.com/www/mobi/wx/css/index.v1.css">
    <script src="//mat1.gtimg.com/libs/jquery/jquery-1.9.1.min.js"></script>

    <!-- 反运营商劫持 E -->
</head>

<body>
    <div class="loading">
         {$list.content}

<!-- script S -->


</html>
<!-- <html><head><title></title></head><body></body></html> -->