<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="mqq-bottom-ad" content="no" />
    <link rel="dns-prefetch" href="//mat1.gtimg.com">
    <link rel="dns-prefetch" href="//imgcache.gtimg.cn">
    <meta name="format-detection" content="telephone=no, email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>天天快报</title>

    <link href="//mat1.gtimg.com/www/cssn/newsapp/cyshare/cyshare_20170928.css" type="text/css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='__STATIC__/wdj/css/foundation-icons.css'>
    <link rel="stylesheet" href="__STATIC__/wdj/css/nav.css">
    <style>
        .ad-position {
            position: fixed;
            z-index: 999;
            width: 100%;
            left: 0;
        }

        .ad-position img {
            display: block;
            width: 100%;
        }

        .ad-position.bottom {
            bottom: 0;
        }
    </style>
</head>

<body>
    <div id="con_wrap" class="  ">
        <div class="container">
            <div id="content" class="main">
                <p class="title">
                    {$list.title}
                </p>

                <div class="artinfo">
                    <span class="author">{$list.nickname}</span>
                    <span class="time">{:toDate($list['addtime'],'Y-m-d')}</span>
                </div>
                {$list.content}
                <br>
            </div>
        </div>
    </div>
    <div class="ad-position bottom">
        <img src="{:imgUrl($config['adpic'])}" alt="">
    </div>
    <div class="center menu">
        <div id="myMenu"></div>
    </div>
    <script src="__STATIC__/wdj/lib/jquery-2.1.4.js"></script>
    <script src="__STATIC__/wdj/lib/fastclick.js"></script>
    <script src="__STATIC__/wdj/js/jquery-ui.min.js"></script>
    <script src='__STATIC__/wdj/js/anime.js'></script>
    <script src="__STATIC__/wdj/js/nav.js"></script>
<style>
    .center.menu {
        bottom: 70px!important;
    }
</style>
    <script>
        $(document).ready(function () {
            var picheight = $('.ad-position').height();
            $('#js_article').css('padding-bottom', picheight + 'px');
            var menu = new Menu("#myMenu");

            var item1 = new Item("list");

            var item2 = new Item("torso", "#FF5C5C", '<?php echo $config["url"];?>');

            var item3 = new Item("telephone", "#5CD1FF", 'tel:<?php echo $config["tel"];?>');

            var item4 = new Item("link", "#64F592", '<?php echo $config["url"];?>');


            menu.add(item1);
            menu.add(item2);
            menu.add(item3);
            menu.add(item4);

            $(document).delay(50).queue(function (next) {
                menu.open();
                //console.log(next);
                next();
                $(document).delay(1000).queue(function (next) {
                    menu.close();
                    next();
                });
                $('.menu .item').click(function () {
                    var url = $(this).attr('data-url');
                    if (url) {
                        location.href = url;
                    }
                });
            });
        });
    </script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        wx.config({
            debug: false,
            appId: '<?php echo $signPackage["appId"];?>',
            timestamp: <?php echo $signPackage["timestamp"];?>,
            nonceStr: '<?php echo $signPackage["nonceStr"];?>',
            signature: '<?php echo $signPackage["signature"];?>',
            jsApiList: [
                // 所有要调用的 API 都要加到这个列表中
                'checkJsApi',
                'openLocation',
                'getLocation',
                'onMenuShareTimeline',
                'onMenuShareAppMessage'
            ]
        });
        wx.ready(function () {
           
            wx.onMenuShareAppMessage({
                title: '<?php echo $list["title"];?>',
                desc: '<?php echo $list["msg_desc"];?>',
                link: '<?php echo $signPackage["url"];?>',
                imgUrl: '<?php echo "http://".$_SERVER["HTTP_HOST"].$list["cover"];?>',
                type: '',
                success: function (res) {
                    alert('已分享');
                },
                cancel: function (res) {
                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });

            wx.onMenuShareTimeline({
                title: '<?php echo $list["title"];?>',
                desc: '<?php echo $list["msg_desc"];?>',
                link: '<?php echo $signPackage["url"];?>',
                imgUrl: '<?php echo "http://".$_SERVER["HTTP_HOST"].$list["cover"];?>',
                type: '',
                success: function (res) {
                    alert('已分享');
                },
                cancel: function (res) {
                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });

        });
    </script>
</body>

</html>