{include file="common/head"/}
<script src="__STATIC__/common/js/jquery.2.1.1.min.js"></script>
<script src="__STATIC__/ueditor/ueditor.config.js" type="text/javascript"></script>
<script src="__STATIC__/ueditor/ueditor.all.min.js" type="text/javascript"></script>
<style>
    .layui-form-select dl{ z-index: 9999999999999;}
    .edui-default .edui-editor{ width: 99.555555555555%!important;}
</style>
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>{$title}</legend>
    </fieldset>
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">所属位置</label>
            <div class="layui-input-4">
                <select name="type_id" lay-verify="required" ng-model="field.type_id" ng-options="v.id as v.title for v in group" ng-selected="v.id==field.type_id">
                    <option value="">请选择所属碎片分类</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">{:lang('title')}</label>
            <div class="layui-input-4">
                <input type="text" name="title" ng-model="field.title" lay-verify="required" placeholder="{:lang('pleaseEnter')}碎片标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <div class="layui-input-6">
            <label class="layui-form-label">{:lang('content')}</label>
            <!-- <div class="layui-input-block">
                <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="content">{{field.content}}</textarea>
            </div> -->
             {$r,input($r['field'])|getform=$form,###}
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}

<script src="__STATIC__/common/js/angular.min.js"></script>

<script>
    var m = angular.module('hd',[]);
    m.controller('ctrl',['$scope',function($scope) {
        $scope.field = '{$info}'!='null'?{$info}:{id:'',title:'',content:''};
        $scope.group = {$debrisTypeList};
        layui.use(['form', 'upload','layer','layedit'], function () {
            var form = layui.form, $ = layui.jquery,layedit = layui.layedit;
          // var layeCon = layedit.build('content');
            form.on('submit(submit)', function (data) {
                // 提交到方法 默认为本身
                //console.log(data);return false;
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                data.field.id = $scope.field.id;
                //data.field.content = layedit.getContent(layeCon);
                $.post("", data.field, function (res) {
                    layer.close(loading);
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            })
        });
    }]);
</script>